<footer id="footer"
    class="mt-5 p-5 w-100 gap-2 bg-success text-white d-flex flex-column align-items-center justify-content-center">
    <h2>E-BookStore</h2>
    <p>Office 41, Raza Mansion, Sylhet, Bangladesh</p>
    <small>Privacy Policy | Terms of use</small>
    <div class="social-media-icons d-flex gap-2">
        <a href="http://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="http://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a href="http://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="http://www.discord.com" target="_blank"><i class="fa-brands fa-discord"></i></a>

    </div>

</footer>